<h1>Noticias!</h1>


<form method="post" action=".">
    {% csrf_token %}
    <p>
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" value="escribime algo" />
    </p>
    <p>
        <label for="Fecha">Fecha:</label>
        <input type="date" name="fecha" />
    </p>
    <p>
        <input type="submit" name="boton_guardar" value="Guardar" />
    </p>
</form>

{% include 'publicidad.html' %}

<form method="get" action=".">
    <p>
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" value="escribime algo" />
    </p>
    <p>
        <label for="Fecha">Fecha:</label>
        <input type="date" name="fecha" />
    </p>
    <p>
        <input type="submit" name="boton_guardar" value="Guardar" />
    </p>
</form>
